
.weather-container {
    font-family: 'Roboto', sans-serif;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 2% 2%;
    width: 50%;
    height: 37vh;
    background-color: rgba(0, 0, 0, 0.35);
    line-height: 20px;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
}

.weather-container img {
    height: 100px;
    width: 100px;
}

.weather-container p {
    font-size: 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 5px 10px;
    padding: 0 0;
}

.weather-container p a {
    color: white;
    text-decoration: none;
}

.weather-container p a:hover {
    color: #c73e18;
    cursor: pointer;
}

@media (min-width: 767px) {

    .weather-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 4% 4%;
        width: 35%;
        height: 35vh;
        font-size: 1.25em;
    }

    .weather-container p {
        font-size: 11px;
    }
}

@media (min-width: 992px) {

    .weather-container {
        margin: 0 0 4% 4%;
        width: 30%;
    }
  
  }
  
  @media (min-width: 1200px) {
  
    .weather-container {
        margin: 0 0 4% 4%;
        width: 20%;
        max-width: 400px;
    }
  
  }